<html>
<h1>Add a newbie!</h1>
<!--Frontend template for form to add newbies to database-->
<form action="" method="POST">
    <!--We specify this CSRF token for security reasons--->
    {{ form.csrf_token }}

    <!--Rendering the form-->
    <p>
        <b>{{ form.first_name.label }}</b><br />
        {{ form.first_name }}
    </p>
    <p>
        <b>{{ form.last_name.label }}</b><br />
        {{ form.last_name }}
    </p>
    <p>
        <b>{{ form.year.label }}</b><br />
        {{ form.year }}
    </p>
    {{ form.submit }}
</form>
<a href="/newbies">Back</a>
</html>
