<html>
<h1>ALL THE NEWBIES!!!</h1>

<!-- Simple Jinja template for displaying newbie data-->
<table>
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
      <!--newbies is passed to this template in views.py-->
      <!--using a for loop since we want to display all newbies :) -->
    {% for u in newbies %}
      <tr>
        <td>{{ u.first_name }}</td>
        <td>{{ u.last_name }}</td>
        <td>{{ u.year }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a href="/newbies/add">Add a newbie here!</a>

</html>
