<html>
<!--Some examples of basic Jinja logic. This information is passed in to the frontend
in the route (views.py)-->
<p>Welcome {{ name }}!</p>
<p>
  You rated this workshop as a {{ rating }}.
</p>
<p>
  <!--You can do if and else if statements in Jinja!-->
  {% if rating >= 4 %}
    Awesome! I'm glad you're enjoying this workshop!
  {% elif rating <= 2 %}
    Oh no! Sorry to hear you didn't find this helpful.
  {% else %}
    That's a so-so rating. Let us know how we can improve!
  {% endif %}
</p>
</html>
